<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.NewsMapper">
    <resultMap id="news" type="News">
        <result property="title" column="title"/>
        <result property="text" column="Text"/>
        <result property="date" column="date"/>
        <result property="author" column="author"/>
        <result property="id" column="id"/>
        <result property="temperature" column="temperature"/>
    </resultMap>
    <select id="select" resultMap="news">
        select * from ccc.news where id=#{user}
    </select>
    <select id="selectByTitle" resultMap="news">
        select * from ccc.news where title=#{title} and id=#{id}
    </select>
    <delete id="deleteByTitle">
        delete from ccc.news where id=#{id} and title=#{title}
    </delete>
    <insert id="insert" >
        insert into ccc.news value (#{title},#{text},#{date},#{author},#{id},#{temperature})
    </insert>

</mapper>
